.physics {
    background-color: #cfd0fe !important;
}
.chemistry {
    background-color: #8c759f !important;
}
.mathematics {
    background-color: #ffdfba !important;
}
.bio {
    background-color: #f5b8c7 !important;
}
.subject-5 {
    background-color: #fbcdbe !important;
}